body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 20;
    line-height: 150%;
  }

header {
    background-color: #333333;
    line-height: 150%;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 15px;
}

h2 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 22px;
    margin: 5px;
}

.container {
      margin: 0 auto;
      width: 1024px;
}

#main-bio {
    float: left;
    width: 70%;
  }

#bio-image {
    float: left;
    width: 200px;
    margin: 10px;
    padding-left: 25px;
    padding-right: 5px;
 }

#contact-info {
    float: left;
    width: 30%;
}

:any-link {
    color: #d21034;
}